*{
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    justify-content: center;
    margin: 0 20vw;
    background-color: black;
    color: white;
}
.newslist{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: bisque;
}
.newscard,.newscard a{
    background-color: black;
    padding: 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    border-radius: 20px;
}